<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<parameter name="browser" value="chrome"/>
	<classes>
             <class name="tests.AjaxformSubmission"></class>  		 	
	<class name="tests.DragandDropTest"></class> 	
	<class name="tests.FormSubmitWithoutTermsAndCondition"></class>   	
	<class name="tests.FortmSubmitValidationclass"></class>   			
	<class name="tests.GenterRadioButton"></class>   	   	
	<class name="tests.Javascriptpromptalert"></class>			
	<class name="tests.JqueryUIProgressBar"></class>		
	<class name="tests.ObsquraZoneConnectPageOpenVerfication"></class>
	<class name="tests.SimpleFormVerficationTest"></class>
	<class name="tests.TableTest"></class>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
